./mods/
patchouli_data.json
TombManyGraves/
local/
./astralsorcery/
journeymap/icon/
journeymap/data/
journeymap/server/
journeymap/journeymap.log
config/splash.properties

usercache.json
usernamecache.json

*.dat

# Add the following to your gitignore:

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

logs/
# Optional: Generic Modpack Ignores
**/*.log
/.mixin.out
/saves
/downloads
/resourcepacks
.curseclient
# options.txt
config/jei/worldSettings.cfg
