# Configuration file

##########################################################################################################
# miscelleaneous
#--------------------------------------------------------------------------------------------------------#
# Some miscelleaneous but useful tweaks.
##########################################################################################################

miscelleaneous {
    # Here you can remove any material by adding its id to this list [default: [paper]]
    S:"Remove Materials" <
     >

    # Here you can remove any modifier by adding its id to this list [default: [mending_moss]]
    S:"Remove Modifiers" <
        mending_moss
     >

    # Turning this option on will stop tinkers tools from being invincible (they can despawn and burn in lava) [default: true]
    B:"Tool Uninvincibility"=false

    # The syntax is: ModID:ItemID:MaterialCost
    # ModID: The mod id of the toolpart.
    # ItemID: The id of the toolpart.
    # MaterialCost: The amount of ingots the toolpart should cost. [default: [tconstruct:pick_head:3], [tconstruct:axe_head:3], [tconstruct:pan_head:4]]
    S:"Toolpart Cost" <
        tconstruct:pick_head:3
        tconstruct:axe_head:3
        tconstruct:pan_head:4
     >
}


##########################################################################################################
# stat tweaks
#--------------------------------------------------------------------------------------------------------#
# Tweaks to material stats
##########################################################################################################

"stat tweaks" {
    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:Modifier:BonusAmmo
    # Set any value to d to keep it as the default value.
    S:"Arrow Shaft Stat Tweaks" <
        wood:1.0:0
        bone:0.9:5
        blaze:0.8:3
        reed:1.5:20
        ice:0.95:0
        endrod:0.7:1
        weedwood:0.8:0
     >

    # All attack damage values will be modified with this percentage.
    # Set to 100 to disable. [range: 0 ~ 1000, default: 75]
    I:"Attackdamage Nerf"=100

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:Modifier
    # Set any value to d to keep it as the default value.
    S:"Bowstring Stat Tweaks" <
        string:1.0
        slimevine_blue:1.0
        slimevine_purple:1.0
        vine:1.0
     >

    # All durability values will be modified with this percentage.
    # Set to 100 to disable. [range: 0 ~ 1000, default: 75]
    I:"Durability Nerf"=100

    # Set this to true to fill the stat tweaks list below with all the default values for all materials
    # This option disables itself after filling the list and it will also delete any tweaks you already had.
    B:"Fill Defaults"=false

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:Accuracy:Modifier
    # Set any value to d to keep it as the default value.
    S:"Fletching Stat Tweaks" <
        feather:1.0:1.0
        slimeleaf_blue:0.8:1.25
        slimeleaf_orange:0.8:1.25
        slimeleaf_purple:0.8:1.25
        leaf:0.5:1.5
        dragonflywing:0.85:1.35
     >

    # negative durability values are decreased further instead of increased when durabilitynerf is below 100, does the opposite for values above 100 [default: true]
    B:"Hardcore Nerfs"=false

    # All mining speed values will be modified with this percentage.
    # These options can also be used to buff stats, but just.... don't. [range: 0 ~ 1000, default: 75]
    I:"Miningspeed Nerf"=100

    # Here you can change the stats of specific materials, this takes priority over the percentage nerfs.
    # The syntax is: MaterialID:HeadDurability:MiningSpeed:AttackDamage:HarvestLevel:HandleModifier:HandleDurability:ExtraDurability:DrawSpeed:Range:BonusDamage
    # Set any value to d to keep it as the default value.
    S:"Stat Tweaks" <
        wood:35:2.0:2.0:0:1.0:25:15:1.0:1.0:0.0
        stone:90:3.0:3.0:1:0.5:-87:15:5.0:0.4:-1.0
        flint:150:5.0:2.9:1:0.6:-60:40:0.2:0.4:-1.0
        cactus:210:4.0:3.4:1:0.85:20:50:1.05:0.9:0.0
        bone:200:5.09:2.5:1:1.1:50:65:0.95:1.15:0.0
        obsidian:139:7.07:4.2:4:0.9:-100:90:0.2:0.4:-1.0
        prismarine:430:5.5:6.2:1:0.6:-150:100:0.2:0.4:-1.0
        endstone:420:3.23:3.23:3:0.85:0:42:0.2:0.4:-1.0
        paper:12:0.51:0.05:0:0.1:5:15:1.5:0.4:-2.0
        sponge:1050:3.02:0.0:0:1.2:250:250:1.15:0.75:0.0
        firewood:550:6.0:5.5:0:1.0:-200:150:1.0:1.0:0.0
        iron:204:6.0:4.0:2:0.85:60:50:0.5:1.5:7.0
        pigiron:380:6.2:4.5:2:1.2:0:170:0.6:1.4:7.0
        knightslime:850:5.8:5.1:3:0.5:500:125:0.4:2.0:2.0
        slime:1000:4.24:1.8:0:0.7:0:350:0.85:1.3:0.0
        blueslime:780:4.03:1.8:0:1.3:-50:200:1.05:1.0:0.0
        magmaslime:600:2.1:7.0:0:0.85:-200:150:1.1:1.05:1.0
        netherrack:270:4.5:3.0:1:0.85:-150:75:0.2:0.4:-1.0
        cobalt:780:12.0:4.1:4:0.9:100:300:0.75:1.3:3.0
        ardite:990:3.5:3.6:4:1.4:-200:450:0.45:0.8:1.0
        manyullyn:820:7.02:8.72:4:0.5:250:50:0.65:1.2:4.0
        copper:210:5.3:3.0:1:1.05:30:100:0.6:1.45:5.0
        bronze:430:6.8:3.5:2:1.1:70:80:0.55:1.5:6.0
        lead:434:5.25:3.5:1:0.7:-50:100:0.4:1.3:3.0
        silver:250:5.0:5.0:1:0.95:50:150:1.2:0.8:2.0
        electrum:50:12.0:3.0:1:1.1:-25:250:1.5:1.0:4.0
        steel:540:7.0:6.0:3:0.9:150:25:0.4:2.0:9.0
        starmetal:275:5.7:4.2:1:0.8:95:65:0.4761905:1.1:4.5
        dawnstone:625:6.0:5.2:1:0.9:95:85:0.58823526:1.35:6.0
        antimony:532:7.5:4.0:1:0.8:-90:120:0.5:1.1:4.0
        octine:270:5.5:4.2:1:0.75:55:95:0.5:0.7:-1.5
        syrmorite:620:5.2:5.1:2:1.15:-45:125:0.4:0.5:1.5
        valonite:775:5.7:5.6:2:1.0:-75:160:0.2:0.5:1.5
        weedwood:75:2.4:2.2:0:1.1:40:25:1.0526316:0.9:-0.5
     >
}


##########################################################################################################
# trait tweaks
#--------------------------------------------------------------------------------------------------------#
# Tweaks related to material traits.
##########################################################################################################

"trait tweaks" {
    # Here you can change the traits of materials for certain parts or all parts.
    # The syntax is: MaterialID:Parts:Trait1,Trait2,etc. [default: [paper:all:tasty], [paper:head:cheap], [paper:handle:autosmelt], [paper:extra:holy,hellish], [paper:bow:coldblooded], [paper:bowstring:crude], [paper:projectile:dense], [paper:shaft:heavy], [paper:fletching:alien]]
    S:"Trait tweaks" <
     >
}


